table {
	border-collapse: collapse;
	width: 100%;
}
th, td {
	padding: 9px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
tr:hover {
	background-color: #f6f6f6;
}
input[type=text] {
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 9px;
}
